<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%= link_to 'Blog E-info', root_path, class: 'navbar-item' %>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to 'Criar nova postagem',
                            new_post_path,
                            class: 'navbar-item' %>
                <%= link_to 'Sair',
                            destroy_user_session_path,
                            class: 'navbar-item',
                            method: :delete %>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <%= yield(:page_title) %>
          </h1>
          <h3 class="subtitle">
            <%= yield(:page_subtitle) %>
          </h3>
        </div>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
